<!DOCTYPE html>
<html>
   <head>
      <title>SN ticket ticker</title>
      <link rel="icon" href="../../public/badge.png" type="image/png"/>
      <link href="/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>