<%- include ('./partials/header') %>

  <container id="main">
    <h2 id="">Instance pinger log</h2>
    <div id="log-div">
      <% logsArray.forEach((line) => { %>
        <p><%= line %></p>
      <% }) %>
    </div>
  </container>

<%- include ('./partials/footer') %>